.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .learning-option-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #c0902c;
    margin: 3px;
  }