.addlisting .rdw-list-wrapper,
.meeting .rdw-list-wrapper,

.noteaddmodal .rdw-list-wrapper {
  display: flex !important;
}

.addlisting .rdw-editor-toolbar {
    display: flex;
    justify-content: flex-end;
    background: none !important;
  }
  
  .addlisting .rdw-editor-main {
    padding: 0rem;
  }

  .addlisting .public-DraftStyleDefault-block {
    margin: 0em 0 !important;
    margin-top: 5px !important;
    height: 63px;
    overflow: auto !important;
  }

  .addlisting .rdw-editor-wrapper {
    border-radius: 10px;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    width: 92%;
  }
  
  .addlisting .rdw-editor-wrapper {
    border-radius: 10px;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    width: 92%;
  }
  
  .addlisting .rdw-editor-wrapper:active,
  .addlisting .rdw-editor-wrapper:focus {
    border: 1px solid #667DD1 !important;
  }
  .addlisting .rdw-image-wrapper,
  .rdw-link-wrapper {
    display: none !important;
  }  