.text-updater-node {
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
  }

  /* CSS for the placeholder text */
.editor-placeholder {
  position: absolute;
  top: 8px;
  left: 12px;
  color: #999; /* Placeholder text color */
  pointer-events: none; /* Allow clicking through the placeholder */
  font-style: italic; /* Italicize the placeholder text */
  font-size: 14px; /* Font size for the placeholder text */
}

.w-md-editor-text-input {
  
}

/* Adjust the position and styles as needed */

  

  